body {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-thin);
    font-weight: 300;
}

::selection {
    background-color: darkcyan;
}

#herosection {
    width: 100%;
    height: 100vh;
}

/* selection firuzeyidir */
.container {
    /* max-width: 1600px; */
    width: 100%;

}

.mainpage {
    height: 100vh;
    width: 100%;
    display: flex;
}

.left-vertical {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(234, 232, 232);
    /* height: 100%; */
}

.right-mainpage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 86%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/1.jpg");
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
    margin-top: -10px;
}

.logo img {
    width: 50px;
    height: 100%;
}

.left-side-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 19px;
}

.border-and-color {
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    font-size: 18px;
}

.border-and-color:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-btn button {
    padding: 5px;
    background-color: rgb(105, 173, 173);
    border-radius: 15px;
    font-size: var(--fs-thin);
}

.color-btn {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.flex-center i {
    font-size: 20px;
}

.flex-center p {
    padding: 10px 0;
}

.navbar {
    background-color: transparent;
    box-shadow: -3px 5px 12px #f1f1f1;
}

.navbar ul li {
    border-bottom: 1px solid rgb(241, 236, 236);
    line-height: 1.7;
    letter-spacing: 0.9px;
    font-weight: 100;
}

.color-btn {
    padding: 15px;
}

ul li {
    color: var(--light-black);
}

ul li:hover {
    cursor: pointer;
}

.main-btn a {
    width: 200px;
    background-color: var(--yellow-without-opacity);
    color: var(--white-color);
    padding: 12px 30px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.main-btn {
    margin: 20px 0;
}

.right-mainpage h2 {
    font-size: var(--fz-extra-large);
    font-weight: 600;
    color: var(--white-color);
}

.center-margin {
    padding: 60px;
}

.center-margin h2 .span-weight {
    font-weight: 500 !important;
}

.positions-arrow {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 6%;
    bottom: 7%;
}

.links {
    padding: 20px 0;
}

.positions-arrow button i {
    padding: 8px 5px;
    font-size: 20px;
    color: var(--yellow-without-opacity);
}

.positions-arrow button {

    padding: 5px 10px;
    border-radius: 50%;
    border: 2px solid var(--yellow-without-opacity);
}

/* MOVEABLE TEXT */
.moveable-text {
    color: var(--white-color);
    font-size: 30px;
    line-height: 1.7;
    letter-spacing: 1px;
    /* padding-top: 4px; */
    padding-bottom: 25px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow-without-opacity);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.active {
    color: var(--yellow-without-opacity);
    transition: all .1s ease-in;
}




/* ####################    ABOUT SECTION  ############################*/
.about-style span {
    font-family: 'Kaushan Script' !important;
}

.about-style {
    padding: 60px;
}

.boy-pic {
    width: 500px;
}

.boy-pic img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.about-content {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 80px;
}

.sign-img img {
    max-width: 100px;
    width: 100%;
    height: 60px;
}

.flex-ul-list {
    display: flex;
    width: 400px;
    max-width: 100%;
}

.about-nav-text p {
    /* width: 100%; */
    text-align: left;
    color: var(--light-black);
    line-height: 1.4;
    letter-spacing: 1px;
    padding: 10px 0;

}

.flex-ul-list li {
    width: 100%;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 232, 233);
    padding: 20px;
}

.style-top-border {
    border-top: 2px solid var(--yellow-without-opacity);
    /* transition: all .4s ease-in-out; */
}

.flex-ul-list li i {
    padding-bottom: 10px;
}

.flex-ul-list li p {
    padding: 5px 0;
}

/* profile table style */
table tr td {
    padding: 8px 20px;
    line-height: 1.4;
    letter-spacing: 1px;

}

.row-grey {
    color: var(--grey-font-color);
}

.resume-btn {
    display: flex;
    justify-content: flex-end;
}

.resume-btn a {
    transition: all .4s ease-in;
}

.resume-btn a:hover {
    background-color: rgb(145, 122, 94);
    outline: 1px solid rgb(126, 119, 112);
    cursor: pointer;
}

/* skills tab style */
.line-range {
    width: 100%;
    height: 3px;
    background-color: var(--yellow-without-opacity);
    border-radius: 3px;
}

.span-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.skills-range {
    color: var(--light-black);
}

.about-right-side {
    padding: 0 60px;
}

.about-navtab-content {
    transition: 0.3s;
    max-width: 400px;
}

/* !   SERVICES PAGE CSS */
.services-main-content {
    width: 90%;
    /* display: flex;
    justify-content: flex-end; */

}

.services-container {
    /* max-width: 1000px; */
    /* padding: 50px 60px; */
    display: flex;
    justify-content: flex-end;
    margin: 60px 0;

}

.services-box img {
    width: 50px;
    height: 50px;
}

.services-box {
    display: flex;
}

.services-video {
    width: 36%;
    position: relative;
}

.services-video img {
    border-radius: 10px;
    width: 100%;
    height: 440px;
    object-fit: contain;
}

.play-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    border-radius: 20px;
    height: 40px;
    padding: 20px 0;
    color: var(--yellow-without-opacity);
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-size: var(--fz-m);
    transition: all .4s ease-in-out;
}

.play-btn:hover {
    color: var(--white-color);
    background-color: var(--yellow-without-opacity);
}

.services-icon-details {
    width: 40%;
}

.services-box div {
    color: var(--light-black);
    line-height: 1.4;
    letter-spacing: 1px;
    width: 45%;
}

.services-box h4 {
    font-size: var(--fz-m);

}

.services-box img {
    margin: 10px 0;
}

/* ************************* PORTFOLİO CSS ********************* */
#portfolio {
    width: 100%;
}

.portfolio-pics {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
}

.portfolio-pics img {
    width: 280px;
    height: 180px;
}

.portfolio-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.portfolio-btn button {
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 8px 20px;
    border-radius: 15px;
    border: 1px solid var(--yellow-without-opacity);
    background-color: var(--white-color);
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* active ucun class */
li button.portfolio-bg {
    background-color: var(--yellow-without-opacity);
    color: var(--white-color);
}

.portfolio-pics img {
    opacity: 0.9;
    background-color: var(--white-color);
}





















/* !   **************************    VISIBLE AND NONE CLASS */
.display-none-class {
    display: none;
}

.display-class {
    display: block;
}









/* ! ##################B     HIDDEN SECTION    ######################################## */
/* .right-mainpage {
    display: none;
} */

/* ?about me ---none */
#about {
    display: none;
}

#services {
    display: none;
}

.about-nav-text {
    display: none;
}

/* profile tabs content hidden */
.profile-details {
    display: none;
}

/* skills range */
.skills-range {
    display: none;
}

/* portfolio section */
#portfolio {
    display: none;
}