:root {
    /* colors */
    --default-yellow: rgba(176, 145, 79, 0.7);
    --yellow-without-opacity: rgb(176, 145, 79);
    --black-color: #000000;
    --light-black: #333333;
    --white-color: #ffffff;
    --purple-btn: rgb(176 79 138);
    --teal-btn: teal;
    --green-btn: #135289;
    --grey-font-color:rgb(119, 140, 140);
    --light-f-color:rgb(235, 235, 235);
   





    /* fonts */
    --fs-thin: 14px;
    --fs-medium-thin: 16px;
    --fz-extra-large: 55px;
    --fz-m:19px;
    --med-fz:40px;
    --font-medium-3:30px;
    --font-size-standart:20px;

}